
<p id="notice"><%= notice %></p>
  <section id="services" class="section-bg">
      <div class="container">

        <header class="section-header">
          <h3>News</h3>
          <p>news</p>
        </header>

        <div class="row">

          <div class="col-md-9 col-lg-9 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div>
              <h4 class="title"><%= @newz.names %></h4>
              <h4 class="title"><%= @newz.title %></h4>
              <p class="title1"><%= @newz.publish_date %></p>
              <p class="description"> <%= @newz.body %></p>
            </div>
          </div>
         </div>
     </div>
     <% if current_user.admin %>
     <%= link_to 'Edit', edit_newz_path(@newz) %> |
     <% end %>
     <%= link_to 'Back', newzs_path %>
   </section><!-- #services -->
   