<%= render partial: "/layouts/navbar_coperatesite" %>

 <!--==========================
      Clients Section
    ============================-->
    <style type="text/css">
      .pparag {
    font-size: 100%;
    line-height: 2;
    letter-spacing: 1.2px;
    color: #9DA0A4 !important;
    font-weight: 500;
    text-align: center;
}
.btn-pt{

    border: 0;
}
body, p, ol, ul, td{
  font-family: 'Libre Franklin';
}
ul li {
              font-size: 110%;
    line-height: 1.45;
    letter-spacing: 1.2px;
    font-weight: 500;
    margin-bottom: 1rem;
    z-index: 5;
            }
            .sns-buttons li{
              margin-bottom: 0 !important;
            }
.client-logo{
  width: 100%;
  height: 250px !important;
}
.client-logo  img{
  max-width: 150px;
}
.client-logo a{
  position: absolute;bottom: 20px;
  left: 50%;
    transform: translate(-50%, 0px);
}
.card{
  padding: 20px;
}
 .clientProtfolioLogo{
        height: 100px;
    width: 100%;
    text-align: center;
  }
  .font-15{
   font-size: 1.3rem !important;
   white-space: nowrap;
  }
@media(max-width: 600px){

}
    </style>
    <section id="clients" class="section-bg ">

      <div class="col-md-9 mx-auto opcity2">

        <div class="section-header">
          <h3 class=" text-center text-uppercase" style="padding-top:40px;color: #000;">Portfolio</h3>
          <p>ポートフォリオ</p>

          <p class="pparag my-5">Idenbrid not only develops and operates its own services, but also develops and maintains client services. Please utlizie our experienced team in furthering your business.</p>
        </div>

        <div class="row clients-wrap clearfix wow fadeInUp">


          <div class="col-lg-3 col-md-4 col-xs-6 mb-4">
           <div class="card">
              <div class="client-logo">
            <div class="clientProtfolioLogo">
               <%= image_tag("topSlider/zo.png", :alt => "Flexslider" , :class => "img-fluid", :style => "")%>
            </div>
              <h3 class="font-15"> “咲色” </h3>
              <p class="mb-2">SanZoo</p>
              <p>LP site Front end</p>
              <div class="text-center">
                <a href="#" target="_blank">
                <button class="btn-pt">View</button>
              </a>
              </div>
            </div>
           </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6 mb-4">
            <div class="card">
              <div class="client-logo">
            <div class="clientProtfolioLogo">
              <%= image_tag("topSlider/flowercomplete.png", :alt => "Flexslider" , :class => "img-fluid", :style=>"max-width:220px !important;")%>
            </div>
              <h3 class="font-15">“Flower Complete”</h3>
              <p class="mb-2">Next Complete</p>
              <p>Web EC site Wordpress / PHP</p>
              <a href="https://flowercomplete.com" target="_blank">
                <button class="btn-pt">View</button>
              </a>
            </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6 mb-4">
            <div class="card">
              <div class="client-logo">
             <div class="clientProtfolioLogo">
                <%= image_tag("gaytter.png", :alt => "Flexslider" , :class => "img-fluid", :style=>"width:80px !important;")%>
             </div>
              <h3 class="font-15">“Gatter”</h3>
              <p class="mb-2">Atmark</p>
              <p>Website PHP / Vue js</p>
              <a href="https://gaytter.jp/" target="_blank">
                <button class="btn-pt">View</button>
              </a>
            </div>
            </div>
          </div>
          
          
        
          <div class="col-lg-3 col-md-4 col-xs-6 mb-4">
            <div class="card">
              <div class="client-logo">
           <div class="clientProtfolioLogo">
              <%= image_tag("topSlider/itune.png", :alt => "Flexslider" , :class => "img-fluid", :style=>"width:70px !important;" )%>
           </div>
              <h3 class="font-15">“Rojiura”</h3>
              <p class="mb-2">Tsunage</p>
              <p>Mobile app Flutter / Laravel</p>
             <a href="#" >
               <button class="btn-pt">View</button>
             </a>
            </div>
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6 mb-4">
            <div class="card">
              <div class="client-logo">
            <div class="clientProtfolioLogo">
              <%= image_tag("topSlider/app.png", :alt => "Flexslider" , :class => "img-fluid")%>
            </div>
              <h3 class="font-15">“みらい保育園”</h3>
              <p>Website PHP</p>
              <a href="http://miraihoikuen.com/about.php" target="_blank">
                <button class="btn-pt">View</button>
              </a>
            </div>
            </div>
          </div>
        
          <div class="col-lg-3 col-md-4 col-xs-6 mb-4">
            <div class="card">
              <div class="client-logo">
            <div class=" clientProtfolioLogo">
              <%= image_tag("clients5.png", :alt => "Flexslider" , :class => "img-fluid", :style=> "max-width: 200px;height: 50px;")%>
            </div>
            <h3 class="font-15">“ART NET BIZYUTUKAN”</h3>
              <p class="mb-2">Fairly Picture Hope</p>
              <p>Web EC site Wordpress / PHP</p>
              <a href="https://indenbrid.com/sm-paint/" target="_blank">
                <button class="btn-pt">View</button>
              </a>
            </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6 mb-4">
            <div class="card">
              <div class="client-logo">
               <div class="clientProtfolioLogo">
                 <%= image_tag("clients1.png", :alt => "Flexslider" , :class => "img-fluid")%>
               </div>
              <h3 class="font-15">“先天予定運診断”</h3>
               <p class="mb-2">Mutosplan</p>
              <p>Web Application JavaScript</p>
             <a href="https://waridashi.netlify.app" target="_blank">
                <button class="btn-pt">View</button>
             </a>
            </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6 mb-4">
            <div class="card">
              <div class="client-logo">
            <div class="clientProtfolioLogo">
              <%= image_tag("clients6.png", :alt => "Flexslider" , :class => "img-fluid")%>
            </div>
              <h3 class="font-15">“ゲイ出会い掲示板”</h3>
              <p class="mb-2">Atmark</p>
              <p>Web Application Laravel</p>
             <a href="http://gay-bbs.com/" target="_blank">
               <button class="btn-pt">View</button>
             </a>
            </div>
            </div>
          </div>
          
          
        </div>
      </div>
    </section>

    

   

    <!--==========================
    Footer
  ============================-->
   <%= render partial: "/layouts/footer" %>
   <!-- #footer -->