
<!DOCTYPE html>
<html>
  <head>
    
    <title>Idenbrid Incorporation | It will be an irreplaceable existence | Your IT Partner</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    
    <meta charset=“UTF-8”>
    <meta name=“viewport” content=“width=device-width, initial-scale=1”>
    <link rel=“pingback” href=“https://www.idenbrid.com/xmlrpc.php”>
    <link rel=“profile” href=“https://gmpg.org/xfn/11”>
    <link rel=“icon” href=“assets/idenbrid10.png” sizes=“16x16"/>
    <meta name=“keywords” content="RUBY,RAILS,HTML,CSS,XML,JavaScript,WORDPRESS,">  
    <meta name=“author” content=“IdenbridIncorporation”>  
    <meta name=“description” itemprop=“description” content=“Idenbridsupports" />  


    <meta name="viewport" content="width=device-width, initial-scale=1">  

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="preconnect" href="https://fonts.gstatic.com">
   <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;500;600;700&display=swap" rel="stylesheet">


   <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
   
  </head>

  <body>
    
    
    <%= yield %>
    

      <system.webServer>
       <staticContent>
         <remove fileExtension=".woff"/>
         <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
       </staticContent>
      </system.webServer>
    

   <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/web-animations/2.2.2/web-animations.min.js"></script> 
   
   
</body>

</html>
